<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379162369299-lnktf45n86474517862p37t8t26lc2rc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379162369299-lnktf45n86474517862p37t8t26lc2rc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>379162369299-4a1odiok5ugeu134iq29sl09lh0bjr6g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJEdy4KCYCNmCj-h_Rse8u1AqqfwJaCt8</string>
	<key>GCM_SENDER_ID</key>
	<string>379162369299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.circlelink.app</string>
	<key>PROJECT_ID</key>
	<string>circlelinks-9ac71</string>
	<key>STORAGE_BUCKET</key>
	<string>circlelinks-9ac71.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379162369299:ios:51592f1a6666b275114ee6</string>
</dict>
</plist>